.navbar-collapse {
    justify-content: flex-end;
  }
  
  .navbar-nav {
    margin: 0;
  }
  
  .nav-link {
    padding: 1rem;
    color: #333;
    font-weight: bold;
  }
  
  @media (max-width: 767px) {
    .navbar-nav {
      flex-direction: column;
      margin-top: 1rem;
    }
  
    .nav-link {
      padding: 0.5rem 1rem;
    }
  }